.widget-container {
  padding: 2.5rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.widget-container__title {
  font-size: 2rem;
  line-height: 2.3rem;
  margin: 0;
}

.widget-container__description {
  font-size: 1.4rem;
  margin: 0;
}
